.navigation-tabs{
    /*background-color: aquamarine;*/
    font-family: "Roboto";
    font-weight: bold;
    color: darkslategrey;
}

.tile-info{
    color: #699ff0;
    font-family: "Roboto";
    font-weight: bold;
    
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.blue-shape-bg{
    background-color:  #cbe4ff;
}

.yellow-bg{
    background-color: #f7c87c;
}
.blue-bg{
    background-color: #699ff0 ;
    color: #ffffff;
}

.yellow-text{
    color: #f3b95b;
    font-family: "Roboto";
    font-weight: bold;
}

.footer-bg{
    background-color:#0c3563;
    color: rgb(226, 226, 226);
}
.footer-bg:hover{
    color: rgb(192, 192, 192);
}
.sign-bg{
    background-color: #2a4e96;
    color: #ffffff;
}

.font-weight-normal{
    font-weight: 200;
}
.display-3{font-size:3rem;font-weight:400;line-height:1}
.text-gray-800{color:#384c74!important}
.font-weight-lighter{font-weight:lighter!important}